.login {
  box-sizing: border-box;
  padding-bottom: 25.1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.contacts {
  margin: 20% 50.6rem 0rem 50.7rem;
  width: 42.7rem;
  height: 38.5rem;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border: 3px solid;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.item--tsf {
  width: 8.3rem;
  height: 3.9rem;
  position: absolute;
  left: 17.8rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: rgba(36, 87, 135, 0.6200000048);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.rectangle-31-jNV {
  width: 37.9rem;
  height: 5rem;
  position: absolute;
  left: 1.9rem;
  top: 17.5rem;
  box-sizing: border-box;
  border: 3px solid;
  background-color: #e7f2f6;
  border-radius: 5rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  font-style: italic;
}
.item--eEZ {
  width: 6.9rem;
  height: 2rem;
  position: absolute;
  left: 1.9rem;
  top: 14.95rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.rectangle-38-Kbb {
  width: 37.8rem;
  height: 5.1rem;
  position: absolute;
  left: 1.9rem;
  top: 9.1rem;
  box-sizing: border-box;
  border: 3px solid;
  background-color: #e7f2f6;
  border-radius: 5rem;
  font-size: 1.6rem;
  line-height: 1.2125;
  font-style: italic;
}
.item--dcH {
  width: 5.5rem;
  height: 2rem;
  position: absolute;
  left: 1.65rem;
  top: 6.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--JCd {
  width: 38rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 1.9rem;
  top: 24.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(180deg, #245787 0%, #67cff4 100%);
  border-radius: 5rem;
}
.item--gU5 {
  width: 38rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 1.9rem;
  top: 31.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 5rem;
}
