body {
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  font-size:100%;
}
.main-page {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.header-for-all {
  margin-bottom: 2%;
  box-sizing: border-box;
  padding: 10px 12px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #eff2f6;
}
.header-div-left {
  width: 100%;
  height: 70px;
  float: left;
  display: flex;
  align-items: center;
  background-color: #eff2f6;
}
.header-div-right {
  width: 100%;
  height: 70px;
  float: right;
  display: flex;
  align-items: center;
  background-color: #eff2f6;
  flex-direction: row-reverse;
}
.logo {
  margin: 0 30px 7px 0;
  width: 76px;
  height: 61px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.logo-img {
  width: 73px;
  height: 53px;
  position: relative;
  margin-left: 1%;
  object-fit: cover;
  vertical-align: top;
}
.dental4clinic-logo {
  width: 76px;
  height: 15px;
  margin-top: -5%;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #265a8a;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.header-item {
  margin: 1px 30px 0 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.first-header-item-selected {
  padding: 0 10px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #29608F 0%, #2E6997 100%),
  linear-gradient(180deg, #67CFF4 0%, #2C6594 100%);
}
.second-header-item-selected {
  padding: 0 10px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #2E6897 0%, #32709E 100%),
  linear-gradient(180deg, #67CFF4 0%, #3B7FAC 100%);
}
.third-header-item-selected {
  padding: 0 10px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #33719E 0%, #3879A6 100%),
  linear-gradient(180deg, #67CFF4 0%, #306C9A 100%);
}
.fourth-header-item-selected {
  padding: 0 15px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #3779A6 0%, #3A7EAB 100%),
  linear-gradient(180deg, #67CFF4 0%, #3B7FAC 100%);
}
.fifth-header-item-selected {
  padding: 0 15px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #3A7FAB 0%, #3E85B0 100%),
  linear-gradient(180deg, #67CFF4 0%, #3B7FAC 100%);
}
.sixth-header-item-selected {
  padding: 0 15px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #3D84B0 0%, #418AB6 100%),
  linear-gradient(180deg, #67CFF4 0%, #3B7FAC 100%);
}
.about-header-item-selected {
  padding: 0 25px;
  margin-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #eff2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(90deg, #3D84B0 0%, #418AB6 100%),
  linear-gradient(180deg, #67CFF4 0%, #3B7FAC 100%);
}
.phone-number {
  margin-right: 25px;
  box-sizing: border-box;
  padding: 15px;
  height: calc(100% - 41px);
  display: flex;
  align-items: center;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 50px;
}
.phone {
  margin-right: 9px;
  width: 17px;
  height: 19px;
  object-fit: cover;
  vertical-align: top;
}
.number {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.logo-user {
  width: 54px;
  height: 54px;
}
.logo-user-image {
  width: 54px;
  height: 54px;
}
.logo-user-image {
  width: 54px;
  height: 54px;
  border-radius: 5rem;
}
.content-main-page {
  width: 80%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-pluses {
  margin-bottom: 2%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}
.card-title {
  margin: 2%;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: rgba(36, 87, 135, 0.6200000048);
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.card-pluses-image {
  width: 100%;
  height: 100%;
  margin-left: 49%;
  overflow: hidden;
}
.card-pluses-cover-slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 46px;
}
.pseudo {}
.main-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: top;
  border-radius: 30px;
}
.card-pluses-cover-inner {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  margin-top: 1%;
  width: 57%;
  overflow: hidden;
  border-radius: 42px;
}
.card-pluses-cover-background {
  box-sizing: border-box;
  padding: 10% 10% 3% 5%;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-image: url('../img/vector.png');
}
.card-pluses-cover-header {
  max-width: 356px;
  margin-bottom: 4%;
  margin-right: 52%;
  display: flex;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2152777778;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
}
.card-pluses-slogan-list {
  width: 100%;
  display: flex;
  align-items: center;
}
.card-pluses-slogan-item {
  margin-right: 5%;
  width: 40%;
  height: 100%;
}
.card-pluses-slogan-item-group {
  display: flex;
  align-items: center;
}
.slogan-modern {
  margin-right: 10%;
  margin-bottom: 2%;
  width: 65%;
  height: 65%;
  object-fit: contain;
  vertical-align: top;
}
.first-line {
  margin-top: 1px;
  width: 100%;
  height: 10px;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 20px;
}
.card-pluses-item-sub-header {
  margin-bottom: 0.53px;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4400000572;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.card-pluses-item-text {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3571416537;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.slogan-shield {
  margin-right: 10%;
  margin-bottom: 2%;
  width: 65%;
  height: 65%;
  object-fit: contain;
  vertical-align: top;
}
.second-line {
  margin-top: 1px;
  width: 100%;
  height: 10px;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 20px;
}
.card-pluses-slogan-last-item {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
}
.slogan-thumbs {
  margin-bottom: 2%;
  width: 65%;
  height: 65%;
  object-fit: contain;
  vertical-align: top;

}
.plus-group {
  box-sizing: border-box;
  padding: 2% 0 2% 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e7f2f6;
  border-radius: 46px;

}
.group-header {
  margin: 1% 0 2% 0;
  display: flex;
  font-size: 36px;
  font-weight: 700;
  line-height: 0.6666666667;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.group-body {
  width: 100%;
  display: flex;
  align-items: center;
}
.group-points {
  margin: 15px 4px 40px 0;
  height: calc(100% - 55px);
  align-items: center;
  display: flex;
  flex-direction: column;
}
.point-plus {
  margin-right: 1%;
  margin-top: 0.4%;
  width: 17px;
  height: 17px;
  object-fit: cover;
  vertical-align: top;
}
.plus {
  display: flex;
  flex-direction: column;
}
.plus-point {
  display: flex;
  flex-direction: row;
}
.group-plus-text {
  max-width: 1044px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  flex-direction: column;
}
.point-text {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.7142857143;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.sub-text {
  margin-left: 3%;
  margin-bottom: 1%;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.table {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.1rem #5b5b5b;
  box-sizing: border-box;
  background-color: #363636;
  border-radius: 0.4rem;
  flex-shrink: 0;
}
.row-header {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 34%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content {
  margin-bottom: 2%;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row {
  width: 100%;
  height: 6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell {
  width: 34%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-selected {
  width: 34%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #64caef;
  flex-shrink: 0;
}
.cell-content {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.calendar {
  margin-bottom: 2%;
  width: 100%;
  border: 1px solid;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}
.calendar-date-group {
  display: flex;
  flex-direction: column;
}
.calendar-date-group-row {
  display: flex;
  flex-direction: row;
}
.calendar-date {
  width: 14.5%;
  height: 80px;
  padding: 0.5% 0 0 0.5%;
  position: relative;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3175;
  font-family: Inter, 'Source Sans Pro', serif;
  text-transform: uppercase;
  color: #000000;
  border: solid 0.1rem #245787;
  background-color: #e7f2f6;
}
.date-selected {
  box-sizing: border-box;
  width: 14.5%;
  height: 80px;
  padding: 0.5% 0 0 0.5%;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3175;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  border: solid 0.1rem #245787;
  background-color: #64caef;
}
.week-day {
  width: 14.5%;
  height: 10%;
  padding: 0.5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3175;
  text-transform: uppercase;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #eff2f6;
}
.calendar-month-year {
  box-sizing: border-box;
  padding: 1%;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem;
  background-color: #eff2f6;
  border-radius: 0.5rem 0.5rem 0 0;
}
.calendar-month-before {
  width: 40px;
  height: 40px;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
  transform: rotate(180deg);
}
.calendar-month-year-content {
  width: 600px;
  margin: 0 36%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3175;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.calendar-month-next {
  width: 40px;
  height: 40px;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.go-to-top {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(270deg);
  object-fit: cover;
  vertical-align: top;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #e7f2f6;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
