@import '../core/base/text';
@import '../core/base/defaults';
@import '../core/components/dialog';
@import '../core/components/buttons';
@import '../core/components/table';

.reception-patient {
  @extend %default-page;
}
.reception-patient-group {
  @extend %default-body-on-page;
}
.card-request {
  width: 58%;
  align-items: center;
  border-radius: 24px;
  flex-shrink: 0;
  border: $default-border;
  padding: $default-padding;
  box-shadow: $default-shadow;
  background-color: $default-background;
  @extend %default-flex;
}
.card-tooth {
  box-sizing: border-box;
  width: 100%;
  align-items: center;
  @extend %default-flex;
  border-radius: 24px;
  border: $default-border;
  padding: $default-padding;
  box-shadow: $default-shadow;
  margin-bottom: $default-margin;
  background-color: $default-background;
}
.selector-tooth {
  margin-bottom: 5%;
  box-sizing: border-box;
  padding: 5%;
  height: 100%;
  background-color: $default-background;
  @extend %selector-text;
}
.selector-tooth-text {
  display: flex;
  @extend %selector-text;
}
.card-tooth-row-text {
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  align-items: center;
}
.card-tooth-row-selects {
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  align-items: center;
}
.card-tooth-row-text-number {
  margin-bottom: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  @extend %card-tooth-row-text;
}
.card-tooth-row-text-number-last {
  display: flex;
  width: 8%;
  align-items: center;
  justify-content: center;
  @extend %card-tooth-row-text;
}
.buttons {
  width: 100%;
  height: 50px;
  display: flex;
  column-gap: 20%;
  align-items: center;
}
.button {
  width: 20%;
  height: 100%;
  border-radius: 0.5rem;
  @extend %button;
}
.user-card-info {
  margin: 0 0 $default-margin 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.card-content {
  box-sizing: border-box;
  padding: $default-padding;
  width: 35%;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
  border-radius: 40px;
  align-items: center;
  @extend %default-flex;
}
.card-fields {
  margin: 4% 0 6% 0;
  width: 100%;
  align-items: center;
  @extend %default-flex;
}
.card-field-group {
  width: 100%;
  margin-bottom: 3.5%;
}
.user-card-field {
  display: flex;
  float: left;
  font-size: 20px;
  @extend %text;
}
.field-content {
  text-align: right;
  display: flex;
  float: right;
  font-size: 24px;
  font-weight: 600;
  @extend %text;
}
.cell-header-request-first {
  width: 30%;
  @extend %table-cell-header;
}
.cell-header-request-second {
  width: 70%;
  @extend %table-cell-header;
}
.cell-request-first {
  width:  30%;
  @extend %table-cell-body;
}
.cell-request-second {
  width:  70%;
  @extend %table-cell-body;
}
.cell-header-content-request {
  padding-top: 10px;
  @extend %table-cell-content-header;
}
.row-header-request {
  height: 72px;
  @extend %table-row;
}
.row-request {
  height: 70px;
  @extend %table-row;
}
.column-group-tooth {
  width: 100%;
  margin-right: 7%;
  @extend %default-flex;
}
.column-group-tooth-last {
  width: 100%;
  @extend %default-flex;
}
.row-group-tooth {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card-request-title {
  margin: 0 0 $default-margin;
  @extend %card-title-text;
}
.tooth-pictures-dialog-blackout {
  @extend %dialog-blackout;
}
.tooth-pictures-dialog-content {
  width: 96%;
  min-height: 89%;
  @extend %dialog-content;
}
.tooth-pictures-dialog-content::-webkit-scrollbar {
  display: none;
}
.tooth-pictures-dialog-title {
  @extend %dialog-title;
}
.tooth-pictures-dialog-title-text {
  @extend %dialog-title-text;
}
.tooth-pictures-dialog-close {
  @extend %dialog-close;
}
.tooth-pictures-dialog-close-div {
  @extend %dialog-close-div;
}
.tooth-pictures {
  margin-left: $default-margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tooth-picture {
  max-width: 400px;
  max-height: 250px;
  margin-bottom: $default-margin;
  margin-right: $default-margin;
  @extend %default-img;
}
.diagnosis-dialog-blackout {
  @extend %dialog-blackout;
}
.diagnosis-dialog-content {
  width: 96%;
  min-height: 10%;
  @extend %dialog-content;
}
.diagnosis-dialog-content::-webkit-scrollbar {
  display: none;
}
.diagnosis-dialog-title {
  @extend %dialog-title;
}
.diagnosis-dialog-title-text {
  @extend %dialog-title-text;
}
.diagnosis-dialog-close {
  @extend %dialog-close;
}
.diagnosis-dialog-close-div {
  @extend %dialog-close-div;
}
.button-diagnosis {
  margin: 2% 0;
  border-radius: 0.5rem;
  @extend %button;
}
.list-of-diagnosis {
  display: flex;
  font-style: italic;
  @extend %text;
}
.list-of-diagnosis-patient {
  display: flex;
  font-style: italic;
  @extend %text;
}
.row-header-diagnosis-of-patient {
  height: 4rem;
  @extend %table-row;
}
.cell-header-diagnosis-of-patient {
  @extend %table-cell-header;
}
.cell-header-content-diagnosis-of-patient {
  @extend %table-cell-content-header;
}
.row-diagnosis-of-patient {
  height: 4rem;
  @extend %table-row;
}
.cell-diagnosis-of-patient {
  @extend %table-cell-body;
}
.cell-diagnosis-of-patient-selected {
  @extend %table-cell-selected
}
.cell-content-diagnosis-of-patient {
  @extend %table-cell-content;
}
.row-header-diagnosis-from-doctor {
  height: 4rem;
  @extend %table-row;
}
.cell-header-diagnosis-from-doctor {
  width: 50%;
  @extend %table-cell-header;
}
.cell-header-content-diagnosis-from-doctor {
  @extend %table-cell-content-header;
}
.row-diagnosis-from-doctor {
  height: 4rem;
  @extend %table-row;
}
.cell-diagnosis-from-doctor {
  width: 50%;
  @extend %table-cell-body;
}
.cell-diagnosis-from-doctor-selected {
  width: 50%;
  @extend %table-cell-selected
}
.cell-content-diagnosis-from-doctor {
  @extend %table-cell-content;
}
.diagnosis-content {
  width: 94%;
  margin-left: 3%;
  height: 100%;
}
.payments-dialog-blackout {
  @extend %dialog-blackout;
}
.payments-dialog-content {
  min-height: 10%;
  border-radius: $default-radius;
  @extend %dialog-content;
}
.payments-dialog-content::-webkit-scrollbar {
  display: none;
}
.payments-dialog-title {
  @extend %dialog-title;
}
.payments-dialog-title-text {
  @extend %dialog-title-text;
}
.payments-dialog-close {
  @extend %dialog-close;
}
.payments-dialog-close-div {
  @extend %dialog-close-div;
}
.payments-dialog-body {
  margin-left: $default-margin;
  width: 96%;
  position: relative;
  box-sizing: border-box;
  border-radius: $default-radius;
  background-color: $default-background;
  @extend %default-flex;
}
.doctor-services {
  width: 100%;
  height: 100%;
  margin-bottom: 0.5%;
  display: flex;
  font-style: italic;
  white-space: nowrap;
  @extend %text;
}
.services {
  margin: $default-margin 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-style: italic;
  white-space: nowrap;
  @extend %text;
}
.cost {
  width: 100%;
  height: 100%;
  margin-bottom: $default-margin;
  display: flex;
  font-style: italic;
  white-space: nowrap;
  @extend %text;
}
.payment {
  margin-bottom: 2%;
  border-radius: 0.5rem;
  @extend %button;
}
.row-header-payment {
  height: 4.5rem;
  @extend %table-row;
}
.cell-header-payment-fist {
  width: 10%;
  @extend %table-cell-header;
}
.cell-header-payment {
  width: 30%;
  @extend %table-cell-header;
}
.cell-header-content-payment {
  margin-bottom: $default-margin;
  width: 100%;
  height: 2.5rem;
  @extend %table-cell-content-header;
}
.row-payment {
  height: 4.5rem;
  @extend %table-row;
}
.cell-payment-fist {
  width: 10%;
  @extend %table-cell-body;
}
.cell-payment {
  width: 30%;
  @extend %table-cell-body;
}
.cell-content-payment {
  margin-bottom: $default-margin;
  @extend %table-cell-content;
}
.checkbox-services {
  width: 20px;
  height: 20px;
}
