@import './base/text';
@import './base/defaults';

.about-body {
  @extend %default-page;
}
.about-group {
  @extend %default-body-on-page;
}
.about-content {
  margin-bottom: $default-margin;
  width: 100%;
  height: 50%;
  position: relative;
  @extend %default-flex;
}
.about-content-description {
  margin-right: $default-margin;
  width: 60%;
  border-radius: 24px;
  @extend %default-flex;
}
.about-content-title {
  margin-bottom: $default-margin;
  width: 100%;
  font-size: 42px;
  color: #245787;
  font-style: normal;
  @extend %card-title-text;
}
.about-content-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.about-content-description-card {
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  height: 100%;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
  border-radius: 24px;
}
.about-content-description-card-text {
  @extend %text;
}
.about-content-contacts {
  box-sizing: border-box;
  padding: 2%;
  width: 38%;
  align-items: center;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
  border-radius: 24px;
  justify-content: space-between;
  @extend %default-flex;
}
.about-content-contacts-item {
  margin-bottom: 6%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.about-content-contacts-image {
  width: 40px;
  height: 40px;
  @extend %default-img;
}
.about-content-contacts-text {
  margin-left: 4%;
  width: 100%;
  @extend %text;
}
.about-content-contacts-links {
  margin-bottom: 0.5%;
  width: 100%;
  display: flex;
  column-gap: 4%;
  align-items: center;
  justify-content: center;
}
.about-content-contacts-link-image {
  width: 50px;
  height: 50px;
  @extend %default-img;
}
.card-title {
  margin-bottom: $default-margin;
  @extend %card-title-text;
}
.about-content-map{
  width: 100%;
  height: 400px;
  border: $default-border;
  box-shadow: $default-shadow;
}
