@import '../core/base/text';

.reception-page {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   background-color: #ffffff;
   padding-bottom: 2%;
   @extend %default-flex;
}
.reception-body {
  box-sizing: border-box;
  width: 96%;
  align-items: center;
  @extend %default-flex;
}
.accept-patient-without-calendar {
  margin-bottom: 2%;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.card {
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  @extend %default-flex;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
  border-radius: 0.5rem;
}
.card-content-text {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: $font-stack;
  flex-shrink: 0;
}
.card-accept-buttons {
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10%;
}
.info-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.start-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.patient-without-calendar-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.patient-without-calendar-dialog-content {
  width: 96%;
  position: relative;
  background-color: $default-background;
  @extend %default-flex;
  box-sizing: border-box;
  border-radius: $default-radius;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.patient-without-calendar-dialog-content::-webkit-scrollbar {
  display: none;
}
.patient-without-calendar-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  @extend %default-flex;
  box-sizing: border-box;
}
.patient-without-calendar-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.patient-without-calendar-dialog-title-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
}
.patient-without-calendar-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  @extend %default-img;
  transform: rotate(45deg);
}
.patient-without-calendar-dialog-close-div {
  padding-right: 4%;
}
.start-without-calendar-button {
  margin: 2% 0;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.info-patient-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.info-patient-dialog-content {
  width: 45%;
  position: relative;
  padding: 2%;
  background-color: $default-background;
  @extend %default-flex;
  box-sizing: border-box;
  border-radius: $default-radius;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.info-patient-dialog-content::-webkit-scrollbar {
  display: none;
}
.info-patient-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  margin-top: 4%;
  @extend %default-flex;
  box-sizing: border-box;
}
.info-patient-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-patient-dialog-title-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
}
.info-patient-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  @extend %default-img;
  transform: rotate(45deg);
}
.info-patient-dialog-close-div {
  padding-right: 4%;
}
.card-fields {
  width: 100%;
  align-items: center;
  @extend %default-flex;
}
.card-field-group {
  width: 100%;
  margin-bottom: 4.5%;
}
.user-card-field {
  display: flex;
  float: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
}
.field-content {
  text-align: right;
  display: flex;
  float: right;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
  flex-shrink: 0;
}
