@import '../core/base/text';

.prices-page {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   @extend %default-flex;
   background-color: #ffffff;
  padding-bottom: 2%;
 }
.prices-body {
  margin-left: 2%;
  width: 94%;
  height: 100%;
  position: relative;
  @extend %default-flex;
  align-items: center;
}
.prices-content {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  @extend %default-flex;
}
.prices-group {
  margin-bottom: 2%;
  width: 100%;
  @extend %default-flex;
}
.prices-group-title {
  margin-bottom: 1%;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3714285714;
  letter-spacing: 0.04rem;
  color: #233567;
  font-family: $font-stack;
  white-space: nowrap;
}
.prices-group-content {
  width: 100%;
  height: 100%;
  position: relative;
  @extend %default-flex;
}
.prices-group-content-item {
  padding: 1% 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: solid 0.1rem #e7f2f6;
  box-sizing: border-box;
}
.prices-group-content-item:hover {
  padding: 1% 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: solid 0.1rem #e7f2f6;
  background-color: $default-background;
  box-sizing: border-box;
}
.prices-group-content-item-name {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #265777;
  font-family: $font-stack;
}
.prices-group-content-item-price {
  margin-right: 1%;
  height: 100%;
  text-align: right;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #3d434c;
  font-family: $font-stack;
  white-space: nowrap;
}
.prices-body-notification {
  box-sizing: border-box;
  margin-bottom: 2%;
  padding: 1%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.875;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
  border-radius: 0.5rem;
}
.prices-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.prices-dialog-content {
  width: 76%;
  position: relative;
  background-color: $default-background;
  @extend %default-flex;
  box-sizing: border-box;
  border-radius: $default-radius;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.prices-dialog-content::-webkit-scrollbar {
  display: none;
}
.prices-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  @extend %default-flex;
  box-sizing: border-box;
}
.prices-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.prices-dialog-title-text {
  font-size: 32px;
  width: 90%;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
}
.prices-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  @extend %default-img;
  transform: rotate(45deg);
}
.prices-dialog-close-div {
  padding-right: 4%;
}
.prices-dialog-content-description {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: $font-stack;
}
.pluses-group {
  width: 100%;
  height: 100%;
  @extend %default-flex;
}
.pluses-group-title {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
}
.plus-price-group {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.prices-dialog-content-plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  @extend %default-img;
}
.prices-dialog-content-text {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
}
.prices-dialog-footer {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.prices-dialog-footer-price {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
}
.prices-dialog-footer-button {
  width: 30%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
}
