@import '../core/base/text';
@import '../core/base/defaults';
@import '../core/components/dialog';
@import '../core/components/buttons';
@import '../core/components/inputs';
@import '../core/components/table';

.admins-page {
  @extend %default-page;
}
.admins-body {
  @extend %default-body-on-page;
}
.admin-buttons-button {
  width: 30%;
  height: 100%;
  @extend %button;
}
.buttons {
  width: 100%;
  height: 60px;
  margin-top: $default-margin;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
.delete-dialog-blackout {
  @extend %dialog-blackout;
}
.delete-dialog-content {
  width: 60%;
  min-height: 10%;
  border-radius: $default-radius;
  @extend %dialog-content;
}
.delete-dialog-content::-webkit-scrollbar {
  display: none;
}
.delete-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: $default-margin;
  box-sizing: border-box;
  @extend %default-flex;
}
.delete-dialog-title {
  @extend %dialog-title;
}
.delete-dialog-title-text {
  @extend %dialog-title-text;
}
.delete-dialog-content-description {
  width: 100%;
  height: 100%;
  margin-bottom: $default-margin;
  line-height: 2.1428571429;
  @extend %text;
}
.delete-dialog-content-plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  @extend %default-img;
}
.delete-dialog-footer {
  width: 96%;
  height: 50px;
  position: relative;
  margin-bottom: $default-margin;
  margin-left: $default-margin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}
.delete-dialog-footer-button {
  width: 45%;
  height: 100%;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
  @extend %button;
}
.create-admin-dialog-blackout {
  @extend %dialog-blackout;
}
.create-admin-dialog-content {
  width: 40%;
  min-height: 10%;
  border-radius: $default-radius;
  @extend %dialog-content;
}
.create-admin-dialog-content::-webkit-scrollbar {
  display: none;
}
.create-admin-dialog-body-content {
  width: 92%;
  height: 100%;
  position: relative;
  margin-left: 4%;
  box-sizing: border-box;
  @extend %default-flex;
}
.create-admin-dialog-title {
  margin: 4%;
  @extend %dialog-title;
}
.create-admin-dialog-title-text {
  @extend %dialog-title-text;
}
.create-admin-dialog-close {
  @extend %dialog-close;
}
.create-admin-dialog-close-div {
  padding-right: 7%;
}
.form {
  width: 100%;
  height: 100%;
  @extend %default-flex;
}
.required-fields {
  width: 100%;
  @extend %default-flex;
}
.required-field {
  width: 100%;
  margin-bottom: 4%;
  height: 100%;
  @extend %default-flex;
}
.required-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  @extend %title-text;
}
.required-field-input {
  padding: 4%;
  @extend %input;
}
.photo-field {
  width: 100%;
  height: 100%;
  margin-bottom: 4%;
  @extend %default-flex;
}
.photo-field-title {
  display: flex;
  margin-bottom: 1%;
  @extend %title-text;
}
.photo-field-input {
  padding: 4%;
  @extend %input;
}
.save-button {
  margin-bottom: 4%;
  @extend %button;
}
