.doctors-page {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   padding-bottom: 2%;
 }
.doctors-body {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.doctors-body-header {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-bottom: 2%;
  align-items: center;
}
.doctors-content {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 4%;
  align-items: flex-start;
  flex-direction: row;
}
.doctor-card {
  width: 22%;
  height: 100%;
  margin-bottom: 2%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.doctor-name {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3714285351;
  color: #233567;
  font-family: Inter, 'Source Sans Pro', serif;
}
.doctor-spec {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6000000238;
  font-family: Inter, 'Source Sans Pro', serif;
  color: #387ba8;

}
.doctor-avatar {
  box-sizing: border-box;
  padding-top: 0.813rem;
  width: 100%;
  height: 60%;
  overflow: hidden;
  background-color: #e7f2f6;
  border-radius: 1.4rem;
}
.doctor-image {
  width: 100%;
  position: relative;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.selector {
  box-sizing: border-box;
  padding: 5%;
  height: 100%;
  background-color: #e7f2f6;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #233567;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.selector-text {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #233567;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.doctors-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.doctors-dialog-content {
  width: 76%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.doctors-dialog-content::-webkit-scrollbar {
  display: none;
}
.doctors-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.doctors-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.doctors-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  width: 90%;
  font-family: Inter, 'Source Sans Pro', serif;
}
.doctors-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.doctors-dialog-close-div {
  padding-right: 4%;
}
.doctors-dialog-content-description {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.pluses-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pluses-group-title {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.plus-price-group {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.doctors-dialog-content-plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.doctors-dialog-content-text {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.doctors-dialog-footer {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}
.doctors-dialog-footer-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 4%;
}
.doctors-dialog-footer-button {
  width: 20%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
}
.doctors-dialog-footer-button-service {
  width: 30%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
}
.doctor-create {
  width: 95%;
  height: 4rem;
  margin-left: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 50px;
}
.create-doctor-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.create-doctor-dialog-content {
  width: 76%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.create-doctor-dialog-content::-webkit-scrollbar {
  display: none;
}
.create-doctor-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.create-doctor-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.create-doctor-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.create-doctor-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.create-doctor-dialog-close-div {
  padding-right: 4%;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.required-fields {
  width: 100%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
.required-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.label-for-selector {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.required-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.required-field-input {
  box-sizing: border-box;
  padding: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background-color: #e7f2f6;
  border: 1px solid;
  border-radius: 50px;
}
.photo-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.photo-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.photo-field-input {
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background-color: #e7f2f6;
  border: 1px solid;
  border-radius: 50px;
}
.additional-fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  margin-bottom: 3%;
}
.additional-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.additional-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.additional-field-input {
  box-sizing: border-box;
  padding: 4% 4% 50% 4%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  overflow: hidden;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  background-color: #e7f2f6;
  border: 1px solid;
  border-radius: 50px;
}
.save-button {
  width: 100%;
  height: 4rem;
  margin-bottom: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 5px;
}
.services-doctor-button {
  width: 100%;
  height: 4.3rem;
  margin-top: 6%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 5px;
}
.delete-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.delete-dialog-content {
  width: 60%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.delete-dialog-content::-webkit-scrollbar {
  display: none;
}
.delete-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.delete-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.delete-dialog-title-text {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.delete-dialog-content-description {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.delete-dialog-content-plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.delete-dialog-footer {
  width: 96%;
  height: 50px;
  position: relative;
  margin-bottom: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}
.delete-dialog-footer-button {
  width: 45%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
}
.services-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.services-dialog-content {
  width: 96%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 80px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.services-dialog-content::-webkit-scrollbar {
  display: none;
}
.services-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.services-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.services-dialog-close-div {
  padding-right: 4%;
}
.button-services {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.list-of-services {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.list-of-services-patient {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.row-header-services-of-patient {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-services-of-patient {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 34%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content-services-of-patient {
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.row-services-of-patient {
  width: 100%;
  height: 3.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-services-of-patient {
  width: 34%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-services-of-patient-selected {
  width: 34%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #64caef;
  flex-shrink: 0;
}
.cell-content-services-of-patient {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.row-header-services-from-doctor {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-services-from-doctor {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 50%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content-services-from-doctor {
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row-services-from-doctor {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-services-from-doctor {
  width: 50%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-content-services-from-doctor {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.services-content {
  width: 94%;
  margin-left: 3%;
  height: 100%;
}
.doctor-info-services {
  width: 100%;
  height: 100%;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
.doctor-info-services-title {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.doctor-info-services-name {
  display: flex;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
