.prices-page {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
 }
.prices-body {
  margin-left: 2%;
  width: 94%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prices-content {
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.prices-group {
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.prices-group-title {
  margin-bottom: 1%;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.3714285714;
  letter-spacing: 0.04rem;
  color: #233567;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.prices-group-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.prices-group-content-item {
  padding: 1% 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: solid 0.1rem #e7f2f6;
  box-sizing: border-box;
}
.prices-group-content-item:hover {
  padding: 1% 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: solid 0.1rem #e7f2f6;
  background-color: #e7f2f6;
  box-sizing: border-box;
}
.prices-group-content-item-name {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #265777;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.prices-group-content-item-price {
  margin-right: 1%;
  height: 100%;
  text-align: right;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #3d434c;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.prices-body-create {
  margin-bottom: 4%;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 50px;
}
.go-to-top {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(270deg);
  object-fit: cover;
  vertical-align: top;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: #e7f2f6;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
.prices-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 0;
  border: none !important;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.prices-dialog-content {
  width: 76%;
  margin-top: 8%;
  margin-left: 12%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
}
.prices-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.prices-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
}
.prices-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.prices-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.prices-dialog-close-div {
  position: fixed;
  right: 14%;
}
.prices-dialog-content-description {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.pluses-group {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pluses-group-title {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.plus-price-group {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.prices-dialog-content-plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.prices-dialog-content-text {
  width: 100%;
  height: 100%;
  margin-left: 1%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.7777777778;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.prices-dialog-footer {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.prices-dialog-footer-price {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.prices-dialog-footer-button {
  width: 30%;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
}
.prices-dialog-footer-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 8%;
}
.create-price-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 0;
  border: none !important;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.create-price-dialog-content {
  width: 76%;
  margin-top: 7%;
  margin-left: 12%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
}
.create-price-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.create-price-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
}
.create-price-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.create-price-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.create-price-dialog-close-div {
  position: fixed;
  right: 14%;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.required-fields {
  width: 100%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
.required-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.required-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.required-field-input {
  box-sizing: border-box;
  padding: 4%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background-color: #e7f2f6;
  border: 1px solid;
  border-radius: 50px;
}
.additional-fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
  margin-bottom: 3%;
}
.additional-field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.additional-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.additional-field-input {
  box-sizing: border-box;
  padding: 4% 4% 50% 4%;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  overflow: hidden;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  background-color: #e7f2f6;
  border: 1px solid;
  border-radius: 50px;
}
.save-button {
  width: 100%;
  height: 4rem;
  margin-bottom: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 5px;
}
.delete-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  top: 0;
  border: none !important;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.delete-dialog-content {
  width: 60%;
  margin-top: 23.5%;
  margin-left: 21.5%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
}
.delete-dialog-body-content {
  width: 96%;
  height: 100%;
  position: relative;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.delete-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
}
.delete-dialog-title-text {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.delete-dialog-content-description {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.delete-dialog-content-plus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
}
.delete-dialog-footer {
  width: 96%;
  height: 50px;
  position: relative;
  margin-bottom: 2%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10%;
}
.delete-dialog-footer-button {
  width: 45%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(134.44deg, #a8def0 0%, #245787 162.14%);
  border-radius: 0.5rem;
}
