@import '../core/base/text';
@import '../core/components/buttons';
@import '../core/components/inputs';
@import '../core/components/table';

.user-appointments-create {
  @extend %default-page;
}
.user-appointments-create-body {
  @extend %default-body-on-page;
}
.record-button {
  width: 50%;
  height: 5rem;
  margin-top: $default-margin;
  @extend %button;
}
.form {
  width: 100%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
}
.form-field {
  width: 100%;
  margin-bottom: $default-margin;
  @extend %default-flex;
}
.form-field-last-row {
  width: 100%;
  margin-left: 5%;
  margin-bottom: $default-margin;
  @extend %default-flex;
}
.form-field-last-column {
  width: 100%;
  @extend %default-flex;
}
.form-field-title {
  width: 100%;
  margin-bottom: 1%;
  @extend %title-text;
}
.form-field-input-textarea {
  @extend %textarea;
}
.form-field-group {
  margin-left: 5%;
  width: 100%;
  @extend %default-flex;
}
.form-field-input {
  padding: 3% 4%;
  @extend %input;
}
.row-header-recording {
  height: 5rem;
  @extend %table-row;
}
.cell-header-recording {
  width: 50%;
  @extend %table-cell-header;
}
.cell-header-content-recording {
  @extend %table-cell-content-header;
}
.row-recording {
  height: 4.5rem;
  @extend %table-row;
}
.cell-recording {
  width: 50%;
  @extend %table-cell-body;
}
.cell-content-recording {
  @extend %table-cell-content;
}
.cell-recording-selected {
  width: 50%;
  @extend %table-cell-selected;
}
