@import '../core/base/text';
@import '../core/components/buttons';
@import '../core/components/inputs';

.appointments-body {
  padding-bottom: 6%;
  @extend %default-page;
}
.appointments-content-group {
  @extend %default-body-on-page;
}
.content-group {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.contacts-body {
  margin-right: $default-margin;
  width: 40%;
  box-sizing: border-box;
  padding: 1% 1% 15% 1%;
  height: 100%;
  border-radius: 0.5rem;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
}
.contact-body-item {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: $font-stack;
}
.callback-body {
  box-sizing: border-box;
  padding: 1% $default-padding $default-padding $default-padding;
  width: 60%;
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
  border: $default-border;
  box-shadow: $default-shadow;
  background-color: $default-background;
}
.callback-header {
  margin-bottom: $default-margin;
  position: relative;
}
.callback-header-title {
  display: flex;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3625;
  color: #232323;
  font-family: $font-stack;
  white-space: nowrap;
}
.callback-header-sub-title {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3625;
  color: #232323;
  font-family: $font-stack;
  white-space: nowrap;
}
.submit-form {
  margin-bottom: $default-margin;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.submit-fields {
  width: 100%;
  display: flex;
  flex-direction: row;;
}
.group-main-fields {
  margin-right: 10%;
  width: 45%;
  align-items: center;
  @extend %default-flex;
  flex-shrink: 0;
}
.field {
  margin: 0 0 2% 1%;
  width: 100%;
  @extend %default-flex;
  flex-shrink: 0;
}
.callback-field {
  box-sizing: border-box;
  padding: 4% 4%;
  width: 100%;
  border: solid 0.1rem #e2e9e6;
  background-color: #ffffff;
  border-radius: 3rem;
  @extend %text;
}
.group-additional-fields {
  width: 45%;
  flex-shrink: 0;
}
.field-title {
  margin-bottom: 0.2%;
  display: flex;
  font-size: 16px;
  font-style: normal;
  @extend %title-text;
}
.button-submit {
  width: 35%;
  height: 15%;
  border-radius: 3rem;
  margin-bottom: $default-margin;
  @extend %button;
}
.additional-field {
  background-color: #ffffff;
  @extend %textarea;
}
