.payments-body {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
 }
.payments-body {
  box-sizing: border-box;
  height: 100%;
  margin-left: 2%;
  width: 96%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.payments-notification {
  margin-bottom: 2%;
  box-sizing: border-box;
  padding: 0.95rem 1rem;
  width: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 2.1428571429;
  color: #000000;
  font-family: Inter, 'Source Sans Pro',serif;
  white-space: nowrap;
  border: 1px solid;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border-radius: 0.5rem;
}
.row-header-payments {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-payments {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 20%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content-payments {
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row-payments {
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-payments {
  width: 20%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-content-payments {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.cell-payments-selected {
  width: 20%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #64caef;
  flex-shrink: 0;
}
.cell-content-payments-selected {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
contacts-ZyX {
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 2.298rem 1.1rem 3.2rem 1.1rem;
  width: 139.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.item--sDX {
  margin: 0rem 0rem 2.292rem 1rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: rgba(36, 87, 135, 0.6200000048);
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-1-10000--iV3 {
  margin: 0rem 93.8rem 6.71rem 0rem;
  max-width: 43.1rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.payment-info-card-button {
  width: 30%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.payment-info-card {
  margin-top: 2%;
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border-radius: 24px;
}
.payment-info-card-item {
  margin-bottom: 6%;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.payment-info-card-text {
  margin-bottom: 3%;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
