
.user-profile-body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.user-profile-body-content {
  box-sizing: border-box;
  padding-left: 3%;
  width: 97%;
  display: flex;
  flex-direction: column;
}
.user-card {
  margin: 0 0 2% 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.user-card-content {
  margin-right: 5%;
  box-sizing: border-box;
  padding: 2%;
  height: 100%;
  display: flex;
  border: 1px solid;
  align-items: center;
  background-color: #e7f2f6;
  border-radius: 80px;
}
.user-profile-photo {
  margin-right: 12%;
  width: 35%;
  height: 35%;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100%;
}
.card-fields {
  margin: 4% 0 4% 0;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-field-group {
  width: 100%;
  margin-bottom: 4%;
}
.user-card-field {
  display: flex;
  float: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.field-content {
  text-align: right;
  display: flex;
  float: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-card-buttons {
  margin-top: 4%;
  width: 35%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.user-card-button {
  margin-bottom: 8%;
  width: 100%;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 80px;
}
.user-card-button-last {
  width: 100%;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 80px;
}
