.user-profile-body {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding-bottom: 2%;
}
.user-profile-body-content {
  box-sizing: border-box;
  padding-left: 3%;
  width: 97%;
  display: flex;
  flex-direction: column;
}
.user-card {
  margin: 0 0 2% 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.user-card-content {
  margin-right: 5%;
  box-sizing: border-box;
  padding: 2%;
  height: 100%;
  display: flex;
  border: 1px solid;
  align-items: center;
  background-color: #e7f2f6;
  border-radius: 80px;
}
.user-profile-photo {
  margin-right: 12%;
  width: 35%;
  height: 35%;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100%;
}
.card-fields {
  margin: 4% 0 4% 0;
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-field-group {
  width: 100%;
  margin-bottom: 4%;
}
.user-card-field {
  display: flex;
  float: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.field-content {
  text-align: right;
  display: flex;
  float: right;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-card-buttons {
  margin-top: 4%;
  width: 35%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.user-card-button {
  margin-bottom: 8%;
  width: 100%;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 80px;
}
.user-card-button-last {
  width: 100%;
  height: 6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 80px;
}
.tooth-pictures-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.tooth-pictures-dialog-content {
  width: 94%;
  min-height: 92.5%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 80px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tooth-pictures-dialog-content::-webkit-scrollbar {
  display: none;
}
.tooth-pictures-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tooth-pictures-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.tooth-pictures-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.tooth-pictures-dialog-close {
  position: fixed;
  right: 6%;
}
.tooth-pictures {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tooth-picture {
  max-width: 400px;
  max-height: 250px;
  margin-bottom: 2%;
  margin-right: 2%;
  object-fit: cover;
  vertical-align: top;
}
