@import '../core/base/text';

.appointments-create-page {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   @extend %default-flex;
   background-color: #ffffff;
   padding-bottom: 2%;
 }
.appointments-create-body {
  box-sizing: border-box;
  width: 96%;
  align-items: center;
  @extend %default-flex;
}
.record-button {
  width: 30%;
  height: 5rem;
  margin-top: $default-margin;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 5rem;
}
.select-button {
  width: 100%;
  height: 5rem;
  margin-top: 4%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  color: #e7f2f6;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 5rem;
}
.form {
  width: 100%;
  margin-bottom: $default-margin;
  display: flex;
  flex-direction: row;
}
.form-field {
  width: 100%;
  margin-bottom: $default-margin;
  @extend %default-flex;
}
.form-field-last-row {
  width: 100%;
  margin-left: 5%;
  @extend %default-flex;
}
.form-field-last-column {
  width: 100%;
  @extend %default-flex;
}
.form-field-title {
  width: 100%;
  margin-bottom: 1%;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3625;
  color: #232323;
  font-style: italic;
  font-family: $font-stack;
}
.form-field-input-textarea {
  box-sizing: border-box;
  padding: 3% 5%;
  width: 100%;
  height: 85%;
  border: $default-border;
  background-color: $default-background;
  border-radius: 2rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: $font-stack;
}
.form-field-group {
  margin-left: 5%;
  width: 100%;
  @extend %default-flex;
}
.form-field-input {
  box-sizing: border-box;
  padding: 3% 4%;
  width: 100%;
  border: $default-border;
  background-color: $default-background;
  border-radius: 3rem;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: $font-stack;
}
.row-header-recording {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-recording {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 50%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: $default-background-header-component;
  flex-shrink: 0;
}
.cell-header-content-recording {
  margin-bottom: $default-margin;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
  white-space: nowrap;
}
.row-recording {
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-recording {
  width: 50%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: $default-background;
  flex-shrink: 0;
}
.cell-recording-selected {
  width: 50%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #64caef;
  flex-shrink: 0;
}
.cell-content-recording {
  margin-bottom: $default-margin;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: $font-stack;
}
.request-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.request-dialog-content {
  width: 70%;
  min-height: 60%;
  position: relative;
  background-color: $default-background;
  @extend %default-flex;
  box-sizing: border-box;
  border-radius: $default-radius;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.request-dialog-content::-webkit-scrollbar {
  display: none;
}
.request-dialog-body-content {
  width: 90%;
  height: 100%;
  position: relative;
  margin-left: 5%;
  @extend %default-flex;
  box-sizing: border-box;
}
.request-dialog-title {
  width: 100%;
  margin: $default-margin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.request-dialog-title-text {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: $font-stack;
}
.request-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transform: rotate(45deg);
  @extend %default-img;
}
.request-dialog-close-div {
  padding-right: 4%;
}
.select-request-button {
  margin: 2% 0 4% 0;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: $font-stack;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.row-header-request {
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.row-request {
  width: 100%;
  height: 5.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
