.reception-patient {
   width: 100%;
   overflow: hidden;
   position: relative;
   align-items: center;
   display: flex;
   flex-direction: column;
   background-color: #ffffff;
   padding-bottom: 2%;
 }
.card-request {
  padding: 2%;
  width: 58%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border-radius: 24px;
  flex-shrink: 0;
  border: 1px solid;
}
.reception-patient-group {
  box-sizing: border-box;
  padding: 0 2%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-tooth {
  margin-bottom: 2%;
  box-sizing: border-box;
  padding: 2%;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border-radius: 24px;
  border: 1px solid;
}
.card-tooth-row-selectors {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
}
.selector-tooth {
  margin-bottom: 5%;
  box-sizing: border-box;
  padding: 5%;
  height: 100%;
  background-color: #e7f2f6;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #233567;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.selector-tooth-text {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #233567;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.card-tooth-row-text {
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  align-items: center;
}
.card-tooth-row-selects {
  margin-bottom: 1%;
  width: 100%;
  display: flex;
  align-items: center;
}
.card-tooth-row-text-number {
  margin-bottom: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.card-tooth-row-text-number-last {
  display: flex;
  width: 8%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.buttons {
  width: 100%;
  height: 50px;
  display: flex;
  column-gap: 20%;
  align-items: center;
}
.button {
  width: 20%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.user-card-info {
  margin: 0 0 2% 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.card-content {
  margin-right: 4%;
  box-sizing: border-box;
  padding: 2%;
  width: 35%;
  height: 100%;
  display: flex;
  border: 1px solid;
  box-shadow: 0 0.4rem 3rem rgba(0, 0, 0, 0.25);
  background-color: #e7f2f6;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
}
.user-profile-photo {
  margin-right: 12%;
  width: 35%;
  height: 35%;
  object-fit: cover;
  vertical-align: top;
  border-radius: 100%;
}
.card-fields {
  margin: 4% 0 6% 0;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.card-field-group {
  width: 100%;
  margin-bottom: 3.5%;
}
.user-card-field {
  display: flex;
  float: left;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.field-content {
  text-align: right;
  display: flex;
  float: right;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  flex-shrink: 0;
}
.cell-header-request-first {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 30%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-request-second {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 70%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-request-first {
  width:  30%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
}
.cell-request-second {
  width:  70%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
}
.row-header-request {
  width: 100%;
  height: 72px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.row-request {
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.column-group-tooth {
  width: 100%;
  display: flex;
  margin-right: 7%;
  flex-direction: column;
}
.column-group-tooth-last {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.row-group-tooth {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.card-request-title {
  margin: 0 0 2%;
  text-align: center;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.2125;
  font-style: italic;
  color: rgba(36, 87, 135, 0.6200000048);
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.tooth-pictures-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.tooth-pictures-dialog-content {
  width: 96%;
  min-height: 89%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 80px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tooth-pictures-dialog-content::-webkit-scrollbar {
  display: none;
}
.tooth-pictures-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tooth-pictures-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.tooth-pictures-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.tooth-pictures-dialog-close-div {
  padding-right: 4%;
}
.tooth-pictures {
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tooth-picture {
  max-width: 400px;
  max-height: 250px;
  margin-bottom: 2%;
  margin-right: 2%;
  object-fit: cover;
  vertical-align: top;
}
.diagnosis-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.diagnosis-dialog-content {
  width: 96%;
  min-height: 90%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 80px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.diagnosis-dialog-content::-webkit-scrollbar {
  display: none;
}
.diagnosis-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.diagnosis-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.diagnosis-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.diagnosis-dialog-close-div {
  padding-right: 4%;
}
.button-diagnosis {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.list-of-diagnosis {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.list-of-diagnosis-patient {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row-header-diagnosis-of-patient {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-diagnosis-of-patient {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 34%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content-diagnosis-of-patient {
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row-diagnosis-of-patient {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-diagnosis-of-patient {
  width: 34%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-diagnosis-of-patient-selected {
  width: 34%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #64caef;
  flex-shrink: 0;
}
.cell-content-diagnosis-of-patient {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.row-header-diagnosis-from-doctor {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-diagnosis-from-doctor {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 50%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content-diagnosis-from-doctor {
  margin-bottom: 2%;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row-diagnosis-from-doctor {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-diagnosis-from-doctor {
  width: 50%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-diagnosis-from-doctor-selected {
  width: 50%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #64caef;
  flex-shrink: 0;
}
.cell-content-diagnosis-from-doctor {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.diagnosis-content {
  width: 94%;
  margin-left: 3%;
  height: 100%;
}
.payments-dialog-blackout {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  border: none!important;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3600000143);
}
.payments-dialog-content {
  width: 96%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.payments-dialog-content::-webkit-scrollbar {
  display: none;
}
.payments-dialog-title {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.payments-dialog-title-text {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.payments-dialog-close {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  transform: rotate(45deg);
}
.payments-dialog-close-div {
  padding-right: 4%;
}
.payments-dialog-body {
  margin-left: 2%;
  width: 96%;
  position: relative;
  background-color: #e7f2f6;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 50px;
}
.doctor-services {
  width: 100%;
  height: 100%;
  margin-bottom: 0.5%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.services {
  margin: 2% 0;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.cost {
  width: 100%;
  height: 100%;
  margin-bottom: 2%;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.payment {
  width: 100%;
  height: 4rem;
  margin-bottom: 2%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
  background: linear-gradient(138.65deg, #245787 0%, #a8def0 94.96%);
  border-radius: 0.5rem;
}
.row-header-payment {
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.cell-header-payment-fist {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 10%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-payment {
  box-sizing: border-box;
  padding-top: 0.8%;
  width: 30%;
  height: 100%;
  border: solid 0.1rem #5b5b5b;
  background-color: #eff2f6;
  flex-shrink: 0;
}
.cell-header-content-payment {
  margin-bottom: 2%;
  width: 100%;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
  white-space: nowrap;
}
.row-payment {
  width: 100%;
  height: 4.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.cell-payment-fist {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-payment {
  width: 30%;
  height: 100%;
  border: solid 0.1rem #245787;
  box-sizing: border-box;
  background-color: #e7f2f6;
  flex-shrink: 0;
}
.cell-content-payment {
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro', serif;
}
.checkbox-services {
  width: 20px;
  height: 20px;
}
