@import '../core/base/text';
@import '../core/base/defaults';
@import '../core/components/buttons';
@import '../core/components/inputs';

.user-create-profile {
  @extend %default-page;
 }
.user-create-body {
  @extend %default-body-on-page;
}
.save-button {
  width: 30%;
  height: 4.5rem;
  margin-bottom: 3%;
  @extend %button;
}
.form {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  @extend %default-flex;
}
.required-fields {
  width: 100%;
  margin-bottom: $default-margin;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
.required-field {
  width: 100%;
  height: 100%;
  @extend %default-flex;
}
.required-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  @extend %title-text;
}
.required-field-input {
  padding: 4%;
  @extend %input;
}
.additional-fields {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10%;
  margin-bottom: $default-margin;
}
.additional-field {
  width: 100%;
  height: 100%;
  @extend %default-flex;
}
.additional-field-title {
  display: flex;
  margin-bottom: 1%;
  align-items: center;
  @extend %title-text;
}
.additional-field-input {
  padding: 4% 4% 30% 4%;
  overflow: hidden;
  @extend %input;
}
.notification {
  box-sizing: border-box;
  padding: $default-padding;
  width: 100%;
  height: 100%;
  border: $default-border;
  background-color: $default-background;
  border-radius: $default-radius;
}
.notification-text {
  @extend %title-text;
}
